.m{
	position: absolute;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5;
	visibility:visible;
	color: none;
}
.hide{
	visibility:hidden;
}

.blu{
	color:#00FFFF;

}
.rosso{
	color:#FF0000;
}
.nero{
	color:#000000;
}
a{
	text-decoration:none;
	font-weight:bold;
	white-space: nowrap;
}

