/* This is just an example.  You shouldn't do this. */
#z3d-hello
{
 /* color: red ! important;*/
}
#z3d-toolbar-button
{
  list-style-image: url("chrome://z3d-mfa/skin/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#z3d-toolbar-button:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #z3d-toolbar-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #z3d-toolbar-button:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}
